.layout{
    position:absolute;
    width: 320px;
    height:1024px;
    box-shadow: 16px 0px 50px 0 #0E185033;
    overflow-y: scroll;
}

.header-wrapper{
    display: flex;
    width: 320px;
    height: 100%;
    padding: 23px 24px;
    align-items: center;
    justify-content: space-between;
}
.header-first-group{
    display: flex;
    align-items: center;
    gap: 17px;
}
.main-block__list{
    margin-top: 18px; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: 600;
    font-family: 'TT Lakes';
}

.main-block__list-item{
    margin-bottom: 24px;
    padding: 6px 30px;
    display: flex;
    color: #1B1C21; 
}

.main-block__list-link{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0; 
    padding: 0;
    font-weight: 600;
    color: #1B1C21;
}

.main-block__list-link:focus,.main-block__list-link:hover{
    color: #7E7E82;

}
.main-block__list-item:hover{
    background: no-repeat left url('../images/svg/highlight.svg');
}
.menu-footer__wrapper{
    font-family: 'TT Lakes';
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    margin-top: 268px;
}
.menu-footer__contacts{
    display: flex;
    flex-direction: column;
}
.menu-footer__contacts-buttons{
    display: flex;
    gap: 16px;
}
.menu-footer__contacts-email{
    margin-top: 16px;
    margin-bottom: 12px;
}
.custom-radio{
    position:absolute;
    z-index: -1;
    opacity: 0;
}
.menu-footer__languages{
    margin-top: 40px;
    display: flex;
    gap: 7px;
}

.custom-radio:checked + .custom-radio__label{
    color: #7E7E82;
}
.menu-footer__contacts-number{
    font-weight: 900;
}